BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
SortIncludes: Never
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
ColumnLimit: 140
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Right